.productForm {
    position: relative;
    text-align: center;
    background-color: #fbf0f0;
    margin: 5rem;
    padding: 2rem;
    text-align: center;
    border: 2px solid #b8b0b0;
}

.formular {
    margin: 30px;
}